body{
    background-color: gray !important;
    
    }
    
    
    .btn-delete{
    
        border-radius: 100%;
        width: 60px;
        height: 60px;
        position: fixed;
        left: 200px;
        bottom: 100px;
    
    }
    
    
    
    .btn-add{
    
        border-radius: 100%;
        width: 60px;
        height: 60px;
        position: fixed;
        left: 100px;
        bottom: 100px;
    
    }
    
    